* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("images/Clip path group.jpg");
  background-size : cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'k2d', sans-serif;
  height: 100vh;
}

.top {
  height: 77%;
  padding-top: 30vh;
  padding-bottom: 20vh;
}

.terms_and_social {
  padding-top: 5vh;
  height: 20%;
}

footer {
  height: 3%;
}

.count-down-division {
  margin: 10px;
  height: 100px;
  width: 100px;
  border-radius: 15%;
  background-color: white;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
}

.value {
  font-size: 55px;
  margin-bottom: -1vh;
}
.period {
  font-size: 15px;
}


.title .logo {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right,rgba(173,0,255,1), rgba(51, 0, 253,1));
  font-size: 8vh;
  font-weight: 500;
}

.title .desc {
  margin-top: -2.5vh;
  font-size: 3vh;
}

.about {
  max-width: 70%;
  min-width: 60%;
  padding: 0 100px 0 100px;
}

.about-title {
  font-size: 3vh;
  font-weight: 600;
}

.about-desc {
  margin-top: 1vh;
  font-size: 15px;
  text-align: center;
}

.future {
  width: 70%;
  padding: 25px 30px 0 30px;
}

.future-elements {
  margin-top: -2vh;
  width: 100%;
}

.future .title {
  font-size: 3vh;
  font-weight: 600;
}

.future .garden {
  font-size: 40px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: radial-gradient(circle at 30% 60%, rgb(19,97,22), rgb(60, 0, 253), rgb(39, 127, 12));
}

.future .events {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to left,rgba(173,0,255,1), rgba(51, 0, 253,1));
  font-size: 40px;
}

.future-elements p {
  text-align: right;
  font-size: 1.5vh;
  margin-top: -1vh;
}


.social a {
  display: inline-block;
  margin-right: 10px;
}

.social img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.copyright {
  padding-bottom: 5px;
  font-size: 10px;
}

.terms button{
  size: contain;
  background-color: transparent;
  border: none;
  font-size: 10px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 80%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




@media (max-width: 950px) {


  .count-down-division{
    height: 70px ;
    width: 70px;
  }
  .value {
    font-size: 35px;
  }

  .period{
    font-size: 12px;
  }

  .title .logo{
    font-size: 45px;
  }

  .title .desc{
    font-size: 20px;
  }

  .about, .future {
    padding: 0;
  }

  .future .title , .about-title{
    font-size: 17px;
  }

  .future .events, .future .garden {
    font-size: 25px;
  }

  .future-elements p {
    font-size: 10px;
  }

  .about-desc {
    font-size: 13px;
  }

  .terms button{
    font-size: 5px;
  }

  .social img{
    width: 16px;
    height: 16px;
  }
}


@media (max-width: 550px) {

  body {
    background-image: url('images/Clip path group-mobile.jpg');
  }


  .count-down{
    width: 90%;
  }


  .count-down-division {
    height: 7vh;
    width: 7vh;
  }


  .value {
    font-size: 3vh;
  }

  .count-down .period {
    font-size: 1vh;
  }

  .title .logo {
    font-size: 5vh;
  }

  .title .desc {
    font-size: 2.5vh;
    margin-top: 0.3px;
  }

  .about {
    width: 90%;
    margin-bottom: 3vh;
  }

  .about-title {
    font-size: 2vh;
  }

  .about-desc {
    font-size: 1.2vh;
  }

  .future {
    width: 90%;
  }

  .future .title {
    font-size: 2vh;
  }

  .future .events {
    font-size: 2.2vh;
  }

  .future .garden {
    font-size: 2.2vh;
  }

  .future-elements p {
    font-size: 8px;
  }

  
  .copyright{
    font-size: 10px;
  }
}